#password-reset-form, #password-reset-token-form {
    margin-bottom: 150px;
    margin-top: 150px;

    input[type=submit] {
        margin-top: 20px;
    }
}

#password-reset-token-form input {
    margin-top: 20px;
}

#password-reset-success a {
    color: blue;

    &:hover {
        text-decoration: underline;
    }
}
