{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<form id="password-reset-form" action="{{ url_for('users_views.password_reset') }}" method="post">
    <p>Enter your email below and an email with a password reset link will be sent.</p>
    {{ form.csrf_token }}
    
    {% if "email" in form.errors %}
    <p class="error">{{ form.errors["email"][0] }}</p>
    {% endif %}

    {{ form.email(class_="rounded-input", placeholder="Email") }}<br />
    <input type="submit">
</form>
{% endblock %}
