@import "components/topnav";
@import "components/dropdown";
@import "components/map";
@import "pages/passwordreset";
@import "pages/usersettings";

@import "leaflet.awesome-markers";
@import "MarkerCluster.Default";

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

input[type=submit] {
    border-radius: 4px;
    background-color: green;
    color: white;
    border: none;

    height: 30px;
    font-size: 15px;
    cursor: pointer;

    &:hover {
        background-color: darkgreen;
        color: lightgrey;
    }
}

footer {
    border-top: 1px solid lightgrey;
    text-align: center;
    font-size: 13px;
    
    li {
        margin-left: 9px;
        margin-right: 9px;
        display: inline;
    }
}

.error {
    color: red;
    font-style: italic;
}

.success {
    color: green;
    font-style: italic;
}

.vertical-spaced {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    padding: 0;
    list-style: none;
}

#content {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-icon {
    color: black;
    cursor: pointer;
}

.rounded-box {
    border: 1px solid lightgrey;
    border-radius: 20px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.rounded-input {
    border-radius: 5px;
    border: 1px solid #dddddd;
    height: 30px;
    outline-width: 0;
}

.button-icon:hover {
    color: grey;
}

a:hover {
    color: grey;
}

.button-icon:focus {
    color: lightgrey;
}

@media (max-width: 800px) {
    .search-bar {
        display: none !important;
    }

    #mobile-account-dropdown-button {
        display: inline;
    }

    #account-dropdown-button {
        display: none;
    }

    #login-signup {
        display: none;
    }

    #account-dropdown {
        right: 0px;
    }
}

@media (min-width: 800px) {
    #search-dropdown-button {
        display: none;
    }
    #account-dropdown-button {
        display: inline;
    }
    #mobile-account-dropdown-button {
        display: none;
    }
    #login-signup {
        display: inline;
    }

}

.form-box {
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 600px;
    width: 90%;
    display: inline-block;
    min-height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;

    a {
        font-size: 10px;
        color: grey;

        &:hover {
            color: lightgrey;
        }
    }
}
