<div id="top-nav">
    <nav class="navbar-nav">
        <div class="logo">
            <a href="{{ url_for('views.index') }}">
                <img src="{{ url_for('static', filename='img/logo.svg') }}">
            </a>
        </div>
        <div class="search-bar">
            <button class="search-button">
                <i class="fas fa-search button-icon"></i>
            </button>
            <input class="search-bar-input" id="location-input" placeholder="Location">
            <input class="search-bar-input" id="search-input" placeholder="Search">
        </div>
        <div id="nav-buttons">
            <a id="search-dropdown-button"><i class="fas fa-search button-icon"></i></a>
            {% if session.authenticated %}
            <a>{{ session.user }}<i class="fas fa-caret-down"></i></a>
            {% else %}
            <span id="login-signup">
                <a href="{{ url_for('views.login') }}">Log In</a> or <a>Sign Up</a>
            </span>
            {% endif %}
        </div>
    </nav>
</div>
