<!doctype html>

<html>
    <head>
        <title>{% block title %}{% endblock %} - Veggienet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.min.css') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />

        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        {% include 'include/top-nav.html' %}

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        
        {% include 'include/footer.html' %}

        <!-- jquery -->
        <script
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
          crossorigin="anonymous"></script>
	<!-- Mapbox -->
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
        <!-- main script -->
        <script src="{{ url_for("static", filename="js/app.min.js") }}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
