{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}" />
{% endblock %}

{% block content %}
<div class="rounded-box form-box" id="login-box">
    <p>Log in to Veggienet</p>
    {% if error %}
    <p class="error"> {{ error }}</p>
    {% endif %}
    <form action="{{ url_for('views.login') }}" method="post">
        <input class="rounded-input vertical-spaced" name="username" type="text" placeholder="Username"><br />
        <input class="rounded-input vertical-spaced" name="password" type="password" placeholder="Password"><br />
        <input name="redirect" type="hidden" value="{{ redirect }}">
        <input class="vertical-spaced" type="submit" value="Log In">
    </form>
    <a href="{{ url_for("views.password_reset") }}">Forgot password?</a><br />
    <a href="{{ url_for("views.signup") }}">Don't have an account? Sign Up.</a>
</div>
{% endblock %}
