{% extends 'base.html' %}

{% block content %}
<form id="password-reset-token-form" method="post">
    <p>Password reset for <b>{{ username }}</b></p>
    {% if "password" in form.errors %}
    <p class="error">{{ form.errors["password"] }}</p>
    {% endif %}
    {% if "confirm" in form.errors %}
    <p class="error">{{ form.errors["confirm"] }}</p>
    {% endif %}
    
    {{ form.csrf_token }}
    {{ form.password(class_='rounded-input', placeholder="New Password") }}<br />
    {{ form.confirm(class_='rounded-input', placeholder="Confirm Password") }}<br />
    <input type="submit">
</form>
{% endblock %}
